body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 17px;
}

.topnav {
    overflow: hidden;
    background-color: #594862;
    display: block;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    margin: 15px;
    padding: 8px 15px;;
    border-radius: 7px;
    transition: all 0.3s ease;
}

.topnav img {
    height: 50px;
    width: 50px;
    float: left;
    margin: 7px 15px;
}

.topnav a:hover {
    background-color: rgba(255,255,255,0.7);
    color: black;
    transition: all 0.3s ease;
}

.topnav a.active {
    background-color: #695872;
    color: white;
}

.footer{
    background: #333;
}

.footer table{
    width: 100%;
    padding-top: 50px;
    padding-bottom: 25px;
}

.footer table tr td{
    width:50%;
}

.footer table tr td p{
    text-align: center;
    color: white;
}

.footer table tr td a{
    display: flex;
    flex-direction: column;
    padding: 3px;
    color: white;
    text-decoration: none;
    text-align: center;
}

.footer p{
    background: #333;
    margin-left: 50px;
    padding-bottom: 25px;
}

.d{
    display: inline-block;
}