.main {
    margin-left: 15%;;
    width: 75%;
}

.main table{
    width: 100%;
}

.main table tr td{
    display: flex;
    width: 100%;
    height: 100%;
}

.info{
    margin: 7.5px;
    padding: 3%;
    background: #CCC;
    border-radius: 15px;
    height: 350px;
    text-align: justify;
}