.main table{
    width: 75%;
    padding: 40px;
    border-radius: 25px;
    margin: 75px;
    margin-left: 12.5%;
    background: #EEE;
}

.main table tr td{
    width: 50%;
}

form p{
    margin-left: 15px;
}

form input{
    outline: none;
    border: none;
    border-bottom: solid 2px #444;
    background: rgba(255, 255, 255, 0);
    height: 20px;
    width: 200px;;
    display: flex;
    flex-direction: column;
    margin: 15px;
    margin-top: 20px;
    transition: all 0.3s ease;
}

form .input:focus{
    border-bottom: solid limegreen 2px;
    transition: all 0.3s ease;
    width: 350px;
}

form .input:focus:invalid{
    border-bottom: solid red 2px;
}

form .input:valid{
    border-bottom: solid limegreen 2px;
}

.valider{
    height: 35px;
    width: 95px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 10px;
    font-weight: 600;
    background: #444;
    color: white;
    outline: none;
    border: none;
    margin-left: 15px;
    margin-top: 25px;
}

.register{
    padding: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    border-radius: 10px;
    font-weight: 600;
    background: #555;
    color: white;
    border: none;
    outline: none;
    margin-left: 45px;
    text-decoration: none;
}