.main table{
    background: #EEE;
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 45px;
}

tr:nth-child(even) {
    background-color: #CCC;
}

.main tr{
    height: 40px;
}

.main tr td{
    width: 45%;
    border: #CCC 1px solid;
    padding-left: 25px;
    padding-right: 25px;
}

.main{
    width: 80%;
    margin: auto;
    margin-bottom: 150px;
}

.main p{
    text-align: center;
    font-size: 50px;
}

.main a{
    padding: 7px 56px;
    border-radius: 15px;
    background: #444;
    color: white;
    text-decoration: none;
    margin-top: 34px;
    transition: color 0.3s ease;
}

.main a:hover{
    color: #EEE;
    transition: color 0.3s ease;
}