form{
    background: #EEE;
    width: 85%;
    margin: auto;
    border-radius: 25px;
}

form table{
    width: 75%;
    padding: 40px;
    margin: 75px;
    margin-left: 12.5%;
    width: 100%;
}

form table tr{
    width: 50%;
}

form p{
    margin-left: 15px;
}

form table input{
    outline: none;
    border: none;
    border-bottom: solid 2px #444;
    background: rgba(255, 255, 255, 0);
    height: 20px;
    width: 45%;
    display: flex;
    flex-direction: column;
    margin: 15px;
    margin-top: 20px;
    transition: all 0.3s ease;
}

.input:focus{
    border-bottom: solid limegreen 2px;
    transition: all 0.3s ease;
    width: 75%;
}

.input:focus:invalid{
    border-bottom: solid red 2px;
}

.input:valid{
    border-bottom: solid limegreen 2px;
}

.valider{
    height: 35px;
    width: 95px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 10px;
    font-weight: 600;
    background: #444;
    color: white;
    outline: none;
    border: none;
    margin-left: 15px;
    margin-top: 25px;
}