.main{
    width: 85%;
    margin: auto;
    
    margin-top: 75px;
    margin-bottom: 75px;
}

.valider{
    height: 35px;
    width: 350px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 10px;
    font-weight: 600;
    background: #444;
    color: white;
    outline: none;
    border: none;
}

a{
    text-decoration: none;
}

.main table{
    font-family: arial, sans-serif;
    margin: auto;
    border-collapse: collapse;
    width: 100%;
    background: #EEE;
    margin-top: 15px;
}

.title{
    text-align: center;
    height: 34px;
}

td{
    width: 11%
}

td, th {
    border: 1px solid #CCC;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #CCC;
}