<!DOCTYPE html>
<html lang="fr">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='all.css') }}">
    <link rel="icon" href="{{url_for('static', filename='img/logo1.png')}}" />
    {% block header %}{% endblock %}
</head>
<body>
    <div class="topnav">
        <img src="{{url_for('static', filename='img/logo.png')}}">
        <a href="{{ url_for('accueil') }}">Accueil</a>
        {% if 'prenom' in session %}
        <a href="{{ url_for('me') }}">Mon compte</a>
        {% endif %}
        {% if session['id'] == 1 or session['id'] == 2%}
        <a href="{{ url_for('userlist') }}">Utilisateurs</a>
        {% endif %}
        {% if 'prenom' in session %}
        <a href="{{ url_for('me') }}" style="float: right;">{{ session['prenom'] }}</a>
        {% else %}
        <a href="{{ url_for('adduser') }}" style="float: right;">Se connecter</a>
        {% endif %}
    </div>

    {% block content %}{% endblock %}
    

    <div class="footer" style="margin-top: 250px;">
        <table>
            <tr style="border: none;">
                <td style="border: none;">
                    <p>Mentions légales</p>
                    <p>Conditions générales d'utilisation</p>
                </td>
                <td style="border: none;">
                    <a href="{{ url_for('accueil') }}">Accueil</a>
                    <a href="{{ url_for('me') }}">Mon compte</a>
                    {% if session['id'] == 1 or session['id'] == 2 %}
                    <a href="{{ url_for('userlist') }}">Utilisateurs</a>
                    {% endif %}
                    <a href="{{ url_for('adduser') }}">Se connecter</a>
                </td>
            </tr>
        </table>
        <p class="d">&copy; Copyright, 2020, ce site a été créé pour un projet.</p>
        <p class="d" style="margin-left: 46%;">
            <img src="{{url_for('static', filename='img/twitter.png')}}">
            <img src="{{url_for('static', filename='img/facebook.png')}}">
            <img src="{{url_for('static', filename='img/gmail.png')}}">
            <img src="{{url_for('static', filename='img/instagram.png')}}">
        </p>
    </div>   
</body>
</html>