{% extends "base.html" %}
{% block header %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <title>Accueil</title>
{% endblock %}

{% block content %}
    <div class="main">
        <table>
            <tr>
                <td>
                    <div class="info" style="width:25%;">Bienvenue sur la page d'accueil de mon site Internet. Ce site a premièrement été créé pour un projet de NSI. Le but fut de créer un projet flask dans lequel nous devons intégrer une sorte de gestionnaire d'utilisateurs. J'ai donc essayé de faire de mon mieux afin de proposer une qualité optimale :p J'ai égelement tenté de proposer un minimum de sécurité avec un formulaire d'inscription / de connexion.</div>
                    <div class="info" style="width:55%;">Voici les différents critères nécessaires:
                        <p>- Une page d'accueil avec un bouton pour naviguer vers une page qui affichera une table contenant différents champs que vous choisirez de 2 types différents</p>
                        <p>- La table en question devra déjà contenir 3 lignes complètes</p>
                        <p>- On doit pouvoir supprimer chaque élément de la table</p>
                        <p>- La page avec la table doit contenir un bouton pour réinitialiser le contenu de la table tel qu'il était au départ</p>
                        <p>- La page avec la table doit contenir un lien vers une page avec un formulaire</p>
                        <p>- Ce formulaire doit servir à remplir la table</p>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="info" style="width: 55%;">Pour commencer, j'ai cherché quelques idées à mettre dans ce projet. Tâche un peu facile si l'on a un minimum d'imagination. J'ai donc décidé de choisir une page d'accueil dans laquelle je met les différentes parties de la création du site.
                        <p>Après j'ai choisi de mettre les pages nécessaires comme une où il y a la liste de tous les utilisateurs, une où se situe le formulaire d'inscription (celle qui sert pour remplir la table des utilisateurs) et enfin la page d'accueil.</p>
                        <p>Puis j'ai décidé d'ajouter une page où l'on pourrait se connecter dans le but de faire quelque chose d'un peu plus "professionnel".</p>
                        <p>Pour finir, j'ai listé les différents "catégories" pour la table: nom, prénom, âge, e-mail, mot de passe.</p>
                    </div>
                    <div class="info" style="width: 25%;">Je me suis renseigné à propos de jinja, et j'ai trouvé un moyen d'alléger les fichiers .html en créant des blocks. J'ai donc créé la structure de la page base.html, qui me servira de base pour le reste de mes pages web.
                        <p>Dans ce fichier, j'y ai mis les choses que l'on trouverai sur toutes les pages web; la barre de navigation (navbar) ainsi que le footer. J'ai choisi une couleur au hasard pour la navbar et cette dernière me plaisait bien.</p>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="info" style="width: 25%;">Pour ce qui est du footer, j'ai choisi une couleur sobre, moderne, le gris foncé, c'est une couleur courament utilisée dans les différents sites pour le footer. Dans ce dernier, j'y ai mis les mentions légales ainsi que les CGU (mais je ne les ai pas créé .-.). J'y ai également placé les liens vers les autres pages.
                        <p>Enfin, j'y ai placé une petite phrase pour les droits d'auteurs ainsi que quatre logos pour montrer les réseaux sociaux.</p>
                    </div>
                    <div class="info" style="width: 55%;">J'ai premièrement créé la page de connexion dans laquelle j'y ai placé deux input; un pour l'e-mail et un autre pour le mot de passe. Ces deux champs car l'adresse e-mail est unique et j'ai fait en sorte que si l'on s'inscrit avec une adresse e-mail déjà existante, un message d'erreur apparaît. Et puis un mot de passe car c'estr la base d'un formulaire de connexion.
                        <p>Ensuite, j'ai mis un boutton qui mène vers un formulaire d'inscription qui, lui, servira pour remplir la liste des utilisateurs. Dans le page de connexion, j'ai mis des petites animation, quand l'input est valide, il est vert, sinon, il est rouge. C'est pas grand chose mais c'est un petit plus esthétique :p</p>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="info" style="width: 55%;">Dans le formulaire d'inscription, j'ai mis des champs basiques tels que le nom, le prénom, l'âge, l'e-mail et le mot de passe. Pour l'e-mail et le mot de passe, ils sont à confirmer pour que l'on sache vraiment ce que l'on a entré.
                        <p>Ensuite, quand on clique sur 'valider', l'e-mail est vérifiée si elle est déjà présente dans la base de données. Si elle est déjà présente, un message d'erreur est marqué pour dire que cette dernière est déjà prise.</p>
                        <p>Enfin, toutes les données sont entrées dans un fichier .json afin de mieux s'y retrouver. On a donc un système de sauvegarde optimale à part si on supprime le fichier bien entendu. Puis quand on se connecte, on va voir les identifiants dans la base de données.</p>
                    
                    </div>
                    <div class="info" style="width: 25%;">Pour ce qui est de la base de données, on voit son contenu grâce à la table que l'on peut voir uniquement si on a les droits d'administrateur (les comptes sont déjà créés)
                        <p>Les droits d'administrateur sont vérifiés par rapport à l'ID de l'utilisateur, qui est défini lors de l'inscription.</p>
                    </div>
                </td>
            </tr>
        </table>
    </div>
{% endblock %}