{% extends "base.html" %}
{% block header %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
    <title>Se connecter</title>
{% endblock %}

{% block content %}
<div class="main">
    <table>
        <tr>
            <td>
                <form method="POST">
                    <p>Connectez-vous !</p>
                    <p style="color: red;">{{ res }}</p>
                    <input name="email" type="email" placeholder="Email" required class="input" value="{{ mail }}">
                    <input name="password" type="password" placeholder="Mot de passe" required class="input">
                    <button type="submit" style="border: none;" class="valider">Se connecter</button>
                </form>
            </td>
            <td>
                <p>Vous n'êtes pas inscrit ? Inscrivez-vous aujourd'hui !</p>
                <br/>
                <a href="{{ url_for('register') }}" class="register">S'inscrire</a>
            </td>
        </tr>
    </table>
</div>
{% endblock %}