{% extends "base.html" %}
{% block header %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='me.css') }}">
    <title>Mon compte</title>
{% endblock %}

{% block content %}
<div class="main">
    <p>Mes informations</p>
    <table>
        <tr>
            <td style="text-align: right;">Nom</td>
            <td>{{ session.nom }}</td>
        </tr>
        <tr>
            <td style="text-align: right;">Prénom</td>
            <td>{{ session.prenom }}</td>
        </tr>
        <tr>
            <td style="text-align: right;">Âge</td>
            <td>{{ session.age }}</td>
        </tr>
        <tr>
            <td style="text-align: right;">E-mail</td>
            <td>{{ session.mail }}</td>
        </tr>
        <tr>
            <td style="text-align: right;">Mot de passe</td>
            <td>●●●●●●●●●●●●●</td>
        </tr>
        <tr>
            <td style="text-align: right;">ID d'utilisateur</td>
            <td>#{{ session.id }}</td>
        </tr>
    </table>
    <a href="{{ url_for('logout') }}">Se déconnecter</a>
</div>
{% endblock %}