{% extends "base.html" %}
{% block header %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='register.css') }}">
    <title>S'inscrire</title>
{% endblock %}

{% block content %}
    <form method="POST" action="register">
        <table>
            <tr><td><p>S'inscrire</p></td></tr>
            <tr><td><input name="prenom" type="text" placeholder="Prénom" class="input" required></td></tr>
            <tr><td><input name="nom" type="text" placeholder="Nom" class="input" required></td></tr>
            <tr><td><input name="age" type="number" min="1" max="100" placeholder="Âge" class="input" required></td></tr>
            <tr>
                <td><p style="color: red;">{{already}}</p><input name="mail1" type="email" placeholder="E-mail" class="input" required></td>
                <td><p style="color: red;">{{errormail}}</p><input name="mail2" type="email" placeholder="Confirmer l'e-mail" class="input" required></td>
            </tr>
            <tr>
                <td><input name="pass1" type="password" placeholder="Mot de passe" class="input" required></td>
                <td><p style="color: red;">{{errorpass}}</p><input name="pass2" type="password" placeholder="Confirmer mot de passe" class="input" required></td>
            </tr>
            <tr><td><button type="submit" class="valider">S'inscrire</button></td></tr>
        </table>        
    </form>
{% endblock %}