{% extends "base.html" %}
{% block header %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='userlist.css') }}">
    <title>Liste des utilisateurs</title>
{% endblock %}

{% block content %}
    <div class="main">
        <a href="reset" style="margin-left: 34%; margin-bottom: 15px;"><button class="valider">
            Reset les utilisateurs
        </button></a>
        <table>
            <tr>
                <td class="title">Prénom</td>
                <td class="title">Nom</td>
                <td class="title">Âge</td>
                <td class="title">E-mail</td>
                <td class="title">Mot de passe</td>
                <td class="title">ID</td>
                <td class="title">Supprimer</td>
            </tr>
            {% for user in data %}
            <tr>
                <td>{{user.prenom}}</td>
                <td>{{user.nom}}</td>
                <td>{{user.age}}</td>
                <td>{{user.mail}}</td>
                <td>{{user.password}}</td>
                <td>{{user.id}}</td>
                <td style="text-align: center; border: 1px solid #CCC; color: black;"><a href="delete/{{user.mail}}" style="color: black;">✘</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}